<template>
  <div class="Loader">
    <div class="LoaderComponent">
      <div class="LoaderStatus">
        <div class="Spinner">
          <div class="SpinnerDot"></div>
          <div class="SpinnerDot"></div>
          <div class="SpinnerDot"></div>
          <div class="SpinnerDot"></div>
          <div class="SpinnerDot"></div>
          <div class="SpinnerDot"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "loader.scss";
</style>
