@import '../../sass/common/variables';

.Loader {
    min-height: 200px;
    position: relative;

    &Component {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        z-index: 999;
        width: 100%;
    }

    &Status {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
    }
}

.Spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    animation: spinner-chase 2.5s infinite linear both;

    &Dot {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        animation: SpinnerDot 2s infinite ease-in-out both;
        &:before {
            content: '';
            display: block;
            width: 25%;
            height: 25%;
            background-color: $primary;
            border-radius: 100%;
            animation: SpinnerDotBefore 2s infinite ease-in-out both;
        }

        &:nth-child(1) {
            animation-delay: -1.1s;
            &:before {
                animation-delay: -1.1s;
            }
        }
        &:nth-child(2) {
            animation-delay: -1s;
            &:before {
                animation-delay: -1s;
            }
        }
        &:nth-child(3) {
            animation-delay: -0.9s;
            &:before {
                animation-delay: -0.9s;
            }
        }
        &:nth-child(4) {
            animation-delay: -0.8s;
            &:before {
                animation-delay: -0.8s;
            }
        }
        &:nth-child(5) {
            animation-delay: -0.7s;
            &:before {
                animation-delay: -0.7s;
            }
        }
        &:nth-child(6) {
            animation-delay: -0.6s;
            &:before {
                animation-delay: -0.6s;
            }
        }
    }
}

@keyframes SpinnerDot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes SpinnerDotBefore {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1);
    }
}
