<template>
  <input
    autoComplete="new-password"
    :type="type"
    class="form-control"
    :placeholder="placeholder"
    @input="onChange"
    :value="value"
  />
</template>

<script>
export default {
  name: "Input",

  props: {
    value: String,
    onChange: Function,
    type: {
      type: String,
      default: "text",
    },
    placeholder: String,
  },
};
</script>

<style lang="scss" scoped>
@import "input.scss";
</style>
