<template>
  <button :type="type" :class="`btn ${btnStyles}`" @click="onClick">
    {{ title }}
  </button>
</template>

<script>
export default {
  name: "Button",

  props: {
    type: {
      type: String,
      default: "button",
    },
    title: String,
    btnStyles: {
      type: String,
      default: "btn-primary",
    },
    onClick: Function,
  },
};
</script>

<style lang="scss" scoped>
@import "button.scss";
</style>
