<template>
  <VueTelInput :value="value" @change="onChange" />
</template>

<script>
import { VueTelInput } from "vue3-tel-input";
import "vue3-tel-input/dist/vue3-tel-input.css";

export default {
  name: "InputPhone",

  components: {
    VueTelInput,
  },

  props: {
    value: String,
    onChange: Function,
  },
};
</script>

<style lang="scss" scoped>
@import "inputPhone.scss";
</style>
