<template>
  <Datepicker :value="value" @change="onChange" />
</template>

<script>
import Datepicker from "vue3-datepicker";

export default {
  name: "InputDate",

  components: {
    Datepicker,
  },

  props: {
    value: String,
    onChange: Function,
  },
};
</script>

<style lang="scss" scoped>
@import "inputDate.scss"
</style>
