@import "common/reset";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "common/variables";
@import "common/global";

@import "lib/bootsrapReset";
@import "lib/materialdesignicons";

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #f8f8fb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
