<template>
  <div role="group" class="form-group mb-3">
    <label class="d-block">{{ label }}</label>

    <div v-if="canToggleEdit && editActive" class="row align-items-center">
      <div class="col-sm-9">
        <InputByType
          :type="type"
          :placeholder="placeholder"
          :onSelect="onSelect"
          :onChange="onChange"
          :value="value"
          :selected="value"
          :maxDate="maxDate"
        />
      </div>
      <div class="col-sm-3 text-sm-end">
        <Button title="Save" btnStyles="btn-success" @click="onEditSave" />
      </div>
    </div>

    <InputByType
      v-else-if="!canToggleEdit"
      :type="type"
      :placeholder="placeholder"
      :onSelect="onSelect"
      :onChange="onChange"
      :value="value"
      :selected="value"
      :maxDate="maxDate"
    />

    <p v-if="errorText && (editActive || !canToggleEdit)" class="inputError">
      {{ errorText }}
    </p>

    <div v-if="canToggleEdit && !editActive" class="row align-items-center">
      <div class="col-sm-9">
        <h4>{{ value }}</h4>
      </div>
      <div class="col-sm-3 text-sm-end">
        <Button title="Edit" btnStyles="btn-secondary" @click="onEditToggle" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";

import Button from "@/components/Button/Button.vue";
import InputByType from "@/components/InputByType/InputByType.vue";

export default {
  name: "InputGroup",

  components: {
    Button,
    InputByType,
  },

  props: {
    label: String,
    errorText: String,
    value: String,
    onChange: Function,
    onSelect: Function,
    type: {
      type: String,
      default: "text",
    },
    placeholder: String,
    maxDate: String,
    canToggleEdit: {
      type: Boolean,
      default: false,
    },
    onEdit: Function,
  },

  setup(props) {
    const editActive = ref(false);

    const onEditToggle = () => {
      editActive.value = !editActive.value;
    };

    const onEditSave = () => {
      if (typeof props.onEdit() !== "undefined") props.onEdit();

      editActive.value = !editActive.value;
    };

    return { editActive, onEditToggle, onEditSave };
  },
};
</script>

<style lang="scss" scoped>
@import "inputGroup.scss";
</style>
