<template>
  <div className="Page">
    <Header />
    <div className="Main"><slot /></div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header/Header";
import Footer from "@/components/Footer/Footer";
export default {
  name: "Layout",
  components: { Header, Footer },
};
</script>

<style lang="scss" scoped>
@import "layout.scss";
</style>
