<template>
  <li class="list-inline-item">
    <a :class="`social-list-item ${btnStyles}`">
      <i :class="iconStyles"></i>
    </a>
  </li>
</template>

<script>
export default {
  name: "Social",

  props: {
    btnStyles: {
      type: String,
      default: "bg-primary text-white border-primary"
    },
    iconStyles: String,
  },
};
</script>

<style lang="scss" scoped>
@import "social.scss";
</style>
