@import "./variables";

@mixin media($min-width: false, $max-width: false) {
  @if $min-width and $max-width {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  } @else if $min-width and not $max-width {
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else if $max-width and not $min-width {
    @media screen and (max-width: $max-width) {
      @content;
    }
  }
}

@mixin fullhd {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin desktop-tablet {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$lg}) and (min-width: #{$md}) {
    @content;
  }
}

@mixin laptop-tablet {
  @media (max-width: #{$lg}) and (min-width: #{$sm}) {
    @content;
  }
}

@mixin laptop-mobile {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$md}) and (min-width: #{$sm}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: #{$md}) {
    @content;
  }
}
