<template>
  <header className="Header">
    <div className="container">
      <div className="row align-items-center">
        <div className="col-sm-6">
          <h2>
            <router-link to="/">Monochrome</router-link>
          </h2>
        </div>
        <div className="col-sm-6">
          <div className="text-sm-end d-none d-sm-block">
            <router-link to="/profile">Profile</router-link>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
@import "header.scss";
</style>
