<template>
  <div class="container my-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-8">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Reset Password</h5>
                  <p>Re-Password with your email.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="p-2">
              <form @submit="onPasswordReset">
                <InputGroup
                  label="Email:"
                  type="email"
                  placeholder="Enter your email"
                  :value="email"
                  :onChange="onChangeEmail"
                  :errorText="errorEmail"
                />
                <div className="mb-3 row mb-0">
                  <div className="col-12 text-end">
                    <Button
                      title="Reset"
                      type="submit"
                      btnStyles="btn-block btn-primary w-md"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Remember It?
            <router-link to="/login" class="fw-medium text-primary">
              Sign in
            </router-link>
          </p>
          <p>© {{ new Date().getFullYear() }} Monochrome</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import { useToast } from "vue-toastification";

import { resetPassword } from "@/api/resetPass";

import Button from "@/components/Button/Button.vue";
import InputGroup from "@/components/InputGroup/InputGroup.vue";

export default {
  name: "ResetPass",

  components: {
    Button,
    InputGroup,
  },

  setup() {
    const toast = useToast();

    const email = ref("");
    const onChangeEmail = (event) => {
      email.value = event.target.value;
    };

    const errorEmail = computed(() => {
      if (email.value === "") {
        return "Please fill in the field";
      } else if (
        !String(email.value)
          .toLowerCase()
          .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          )
      ) {
        return "Check that your email is correct";
      } else {
        return "";
      }
    });

    const onPasswordReset = async (event) => {
      event.preventDefault();

      const payload = {
        email: email.value,
      };

      if (!errorEmail.value) {
        try {
          await resetPassword(payload);

          toast.success("Your password has been reset");
        } catch (error) {
          toast.error(error?.response?.data?.message || "Error while reseting password");
        }
      } else {
        toast.error("Please fill all fields correctly");
      }
    };

    return { email, errorEmail, onChangeEmail, onPasswordReset };
  },
};
</script>
