<template>
  <div class="form-check custom-control custom-checkbox">
    <input
      :id="id"
      :type="type"
      class="custom-control-input"
      :value="value"
      @change="onChange"
    />
    <label :for="id" class="custom-control-label"> {{ label }} </label>
  </div>
</template>

<script>
export default {
  name: "Checkbox",

  props: {
    id: String,
    value: String,
    onChange: Function,
    type: {
      type: String,
      default: "checkbox",
    },
    label: String,
  },
};
</script>

<style lang="scss" scoped>
@import "checkbox.scss";
</style>
