<template>
  <footer className="Footer">
    <div className="container">
      <div className="row">
        <div className="col-sm-6">{{ new Date().getFullYear() }} ©</div>
        <div className="col-sm-6">
          <div className="text-sm-end d-none d-sm-block">
            Developed by Monochrome
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss" scoped>
@import "footer.scss";
</style>
