<template>
  <Layout>
    <div className="Home pt-5 pb-5">
      <div className="container">
        <h1>Homepage</h1>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from "@/components/Layout/Layout";
export default {
  name: "Home",
  components: { Layout },
};
</script>
