<template>
  <div class="container my-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-8">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Welcome Back!</h5>
                  <p>Sign in to continue.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="p-2">
              <form @submit="onUserAuth">
                <InputGroup
                  label="Email:"
                  type="email"
                  placeholder="Enter your email"
                  :value="email"
                  :onChange="onChangeEmail"
                />
                <InputGroup
                  label="Password:"
                  type="password"
                  placeholder="Enter password"
                  :value="password"
                  :onChange="onChangePassword"
                />

                <div className="mt-3 d-grid">
                  <Button
                    title="Log In"
                    type="submit"
                    btnStyles="btn-block btn-primary"
                  />
                </div>

                <div className="mt-4 text-center">
                  <h5 className="font-size-14 mb-3">Sign in with</h5>
                  <ul className="list-inline">
                    <Social iconStyles="mdi mdi-facebook" />
                    <Social
                      btnStyles="bg-info text-white border-info"
                      iconStyles="mdi mdi-twitter"
                    />
                    <Social
                      btnStyles="bg-danger text-white border-danger"
                      iconStyles="mdi mdi-google"
                    />
                  </ul>
                </div>

                <div className="mt-4 text-center">
                  <router-link to="/reset-password" className="text-muted">
                    <i className="mdi mdi-lock me-1"></i> Forgot your password?
                  </router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Don't have an account?&nbsp;
            <router-link to="/registration" class="fw-medium text-primary">
              Sign up
            </router-link>
          </p>
          <p>© {{ new Date().getFullYear() }} Monochrome</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { useToast } from "vue-toastification";

import Button from "@/components/Button/Button.vue";
import InputGroup from "@/components/InputGroup/InputGroup.vue";
import Social from "@/components/Social/Social.vue";

export default {
  name: "Login",

  components: {
    Button,
    InputGroup,
    Social,
  },

  setup() {
    const toast = useToast();

    const email = ref("");
    const onChangeEmail = (event) => {
      email.value = event.target.value;
    };

    const password = ref("");
    const onChangePassword = (event) => {
      password.value = event.target.value;
    };

    const onUserAuth = async (event) => {
      event.preventDefault();
      toast.success("Success");
    };

    return { email, onChangeEmail, password, onChangePassword, onUserAuth };
  },
};
</script>
