<template>
  <InputDate
    v-if="type === 'date'"
    :placeholder="placeholder"
    :onSelect="onSelect"
    :onChange="onChange"
    :value="value"
    :selected="value"
    :maxDate="maxDate"
  />
  <InputPhone
    v-else-if="type === 'tel'"
    :placeholder="placeholder"
    :onChange="onChange"
    :value="value"
  />
  <Input
    v-else
    :type="type"
    :placeholder="placeholder"
    :onChange="onChange"
    :value="value"
  />
</template>

<script>
import Input from "@/components/Input/Input.vue";
import InputPhone from "@/components/InputPhone/InputPhone.vue";
import InputDate from "@/components/InputDate/InputDate.vue";

export default {
  name: "InputByType",

  components: {
    Input,
    InputPhone,
    InputDate,
  },

  props: {
    label: String,
    value: String,
    onChange: Function,
    onSelect: Function,
    type: {
      type: String,
      default: "text",
    },
    placeholder: String,
    maxDate: String,
  },
};
</script>

<style lang="scss" scoped>
@import "inputByType.scss";
</style>
